<!doctype html>
<html lang="en" ng-app="YourApp">
<head>
<title>Toogle - The New Google</title>
<!-- 
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
<script src="js/angular/angular.js"></script>
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<script src="js/angular-aria/angular-aria.js"></script>
<script src="js/angular-animate/angular-animate.js"></script>
<script src="js/hammerjs/hammer.js"></script>
<script src="js/angular-material/angular-material.js"></script>
<link rel="stylesheet" href="js/angular-material/angular-material.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="js/angular-material/themes/green-theme.css">
<link rel="stylesheet"
	href="js/angular-material/themes/deep-orange-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/red-theme.css">
<link rel="stylesheet"
	href="js/angular-material/themes/indigo-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/teal-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/grey-theme.css">
<link rel="stylesheet"
	href="js/angular-material/themes/blue-grey-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/cyan-theme.css">
<link rel="stylesheet"
	href="js/angular-material/themes/light-blue-dark-theme.css">
	<link rel="stylesheet"
	href="js/angular-material/themes/blue-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/red-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/brown-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/amber-theme.css">

<link rel="stylesheet" href="js/angular-material/themes/light-green-theme.css">
<link rel="stylesheet" href="js/angular-material/themes/lime-theme.css">


<script>
	
</script>
<script type="text/javascript">
	function ContactController($scope, $http) {

	}

	function AppCtrl($scope, $http, $mdSidenav, $mdBottomSheet, $mdDialog) {

		console.log('AppCtrl');
		$scope.data = {
			selectedIndex : 0,
			secondLocked : false,
			secondLabel : "Item Two"
		};

		$scope.user = {};
		$scope.categories = {};
		$scope.theme = 'green';
		$scope.nonThemed = '#259b24';
		$scope.createUser = function() {
			$http({
				method : 'POST',
				url : 'http://localhost:8080/UB535p3WebApp/BasicIndexer',
				headers : {
					'Content-Type' : 'application/text',
					'q' : $scope.queryText
				},
				data : $scope.user
			}).success(function(data) {
				$scope.status = data;
				console.log(data);
			});
		};
		$scope.query = function() {
			$scope.cards = [];
			$http({
				method : 'POST',
				url : 'http://localhost:8080/UB535p3WebApp/BasicEvaluator',
				headers : {
					'Content-Type' : 'application/text',
					'q' : $scope.queryText
				},
				data : $scope.user
			}).success(function(data) {
				console.log(data);
				var resultCount = data.resultCount;
				var results = data.results;
				if (resultCount != 0) {
					for (var i = 0; i < results.length; i++) {
						$scope.cards.push({
							id : results[i].id,
							title : results[i].title,
							publishedDate : results[i].publishedDate,
							content : results[i].content,
							snippet : results[i].snippet
						});
					}
				}
				$scope.announceSelected(2);
			});
		};

		$scope.next = function() {
			$scope.data.selectedIndex = Math.min($scope.data.selectedIndex + 1,
					2);
			console.log('next');
		};

		$scope.previous = function() {
			$scope.data.selectedIndex = Math.max($scope.data.selectedIndex - 1,
					0);
			console.log('previous');
		};

		$scope.announceSelected = function(tab) {
			console.log(tab);
			$scope.data.selectedIndex = tab;
			if (tab == 1) {
				$scope.theme = 'teal';
				$scope.nonThemed = '#009688'

				$http(
						{
							method : 'POST',
							url : 'http://localhost:8080/UB535p3WebApp/PersonalizedViewClass',
							headers : {
								'Content-Type' : 'application/text',
							},
							data : $scope.user
						}).success(function(data) {
					$scope.status = data;
					console.log(data);
					var resultCount = data.resultCount;
					var results = data.results;
					if (resultCount != 0) {
						for (var i = 0; i < results.length; i++) {
							$scope.personalizedCards.push({
								title : results[i].title,
								publishedDate : results[i].publishedDate,
								content : results[i].content
							});
						}
					}
				});

			} else if (tab == 2) {
				$scope.theme = 'indigo';
				$scope.nonThemed = '#3f51b5';
			} else {
				$scope.theme = 'green';
				$scope.nonThemed = '#259b24';
			}
		};

		$scope.changeUser = function() {
			$mdSidenav('changeUserSideNav').toggle()
		};
		$scope.close = function() {
			$mdSidenav('changeUserSideNav').toggle()
		};
		$scope.personalizePreferences = function() {
			$mdSidenav('userPreferencesSideNav').toggle()
		};
		$scope.closePreferences = function() {
			$scope.alert = 'Rating is ' + $scope.rating + '. Checkbox value = '
					+ $scope.data.cb1;
			$mdSidenav('userPreferencesSideNav').toggle()
		};
		
		$scope.showArticle = function($event, $cardo) {
			$scope.alert = '';

			$http({
				method : 'POST',
				url : 'http://localhost:8080/UB535p3WebApp/ClickRegisterer',
				headers : {
					'Content-Type' : 'application/text',
					'docId' : $cardo.id
				},
				data : $scope.user
			}).success(function(data) {
				$scope.status = data;
				console.log(data);
			});

			$mdBottomSheet.show({
				templateUrl : 'viewArticle.html',
				controller : 'viewArticleCtrl',
				targetEvent : $event,
				locals : {
					carda : $cardo
				}
			}).then(function(clickedItem) {
				$scope.alert = clickedItem.name + ' clicked!';
			});
		};
		$scope.cards = [];
		$scope.personalizedCards = [];
		$scope.users = [];
		$scope.inita = function() {
			$http({
				method : 'POST',
				url : 'http://localhost:8080/UB535p3WebApp/GetUsersServlet',
				headers : {
					'Content-Type' : 'application/text',
				},
				data : $scope.user
			})
					.success(
							function(data) {
								$scope.status = data;
								console.log(data);
								var results = data.users;
								for (var i = 0; i < results.length; i++) {
									$scope.users.push({
										id : results[i].id,
										name : results[i].name
									});
								}

								$mdDialog
										.show(
												{
													controller : DialogController,
													templateUrl : 'userSelectionDialog.html',
													targetEvent : null,
													locals : {
														userss : $scope.users
													}
												})
										.then(
												function(loginUser) {
													console.log(loginUser);

													$http(
															{
																method : 'POST',
																url : 'http://localhost:8080/UB535p3WebApp/UserLogin',
																headers : {
																	'Content-Type' : 'application/text',
																	'userId' : loginUser
																},
																data : $scope.user
															}).success(
																	function(
																			data) {
																		$scope.status = data;
																		console
																				.log(data);
																		$http(
																				{
																					method : 'POST',
																					url : 'http://localhost:8080/UB535p3WebApp/Categories',
																					headers : {
																						'Content-Type' : 'application/text',
																						'userId' : loginUser
																					},
																					data : $scope.allcategories
																				})
																				.success(
																						function(
																								data) {
																							$scope.status = data;
																							console
																									.log(data);
																							$scope.categories = data.results;
																						});
																	});

												},
												function() {
													$scope.alert = 'You cancelled the dialog.';
												});

							});

		};
		// and fire it after definition
		$scope.inita();

	}
	function PersonalisationController($scope) {
		
		
		

	}

	function viewArticleCtrl($scope, $mdBottomSheet, carda) {
		$scope.card = carda;
		$scope.listItemClick = function($index) {
			var clickedItem = $scope.items[$index];
			$mdBottomSheet.hide(clickedItem);
		};
		$scope.hide = function () {
			$mdBottomSheet.hide ();
		}
	}

	function DialogController($scope, $mdDialog, userss) {
		$scope.users = userss;
		$scope.hide = function() {
			$mdDialog.hide();
		};

		$scope.cancel = function() {
			$mdDialog.cancel();
		};

		$scope.loginUser = function(loginUser) {
			$mdDialog.hide(loginUser);
		};
		$scope.newUser = function(newUser) {
			$mdDialog.hide(newUser);
		};
	}
</script>
</head>
<body ng-controller="AppCtrl">
	<script>
		// Include app dependency on ngMataerial

		var app = angular.module('YourApp', [ 'ngMaterial' ]);

		app.controller("ContactController", ContactController);
		app.controller("AppCtrl", AppCtrl);
		app.controller("viewArticleCtrl", viewArticleCtrl);
		app.controller("DialogController", DialogController);
		app.controller("PersonalisationController", PersonalisationController);
	</script>
	<div layout="vertical" layout-fill style="height: 100%; font-size:12px;">
		<md-toolbar md-theme-watch="true" md-theme="{{theme}}">

		<div class="md-toolbar-tools">
			<md-text-float label="Enter query" ng-model="queryText" class="long"
				md-theme-watch="true" md-theme="{{theme}}" style="font-size:12px;"></md-text-float>

			<md-button ng-click="query ()" style="font-size:12px;">Search</md-button>
			<!-- fill up the space between left and right area -->
			<span flex></span>

			<md-button ng-click="createUser ()" style="font-size:12px;">Index</md-button>
			<md-button ng-click="personalizePreferences ()" style="font-size:12px;">Preferences</md-button>
			<md-button ng-click="changeUser ()" style="font-size:12px;">Change User</md-button>
		</div>

		</md-toolbar>
		<md-content style="height:100%;background-color:#eaeaea;"
			md-theme="teal">
		<div class="tabsdemoStaticTabs" style="height: 100%;">
			<div style="height: 100%; font-size:12px;">
				<div ng-style="{'background-color' : nonThemed }">
					<md-tabs selected="data.selectedIndex" left md-theme-watch="true"
						md-theme="{{theme}}" style="width:40%; min-width:400px; font-size:12px;">
					<md-tab id="tab1" num="1" aria-controls="tab1-content"
						ng-click="announceSelected(0)" style="font-size:12px;"> Top News </md-tab> <md-tab
						id="tab2" aria-controls="tab2-content"
						ng-click="announceSelected(1)" style="font-size:12px;"> Personalised Results </md-tab> <md-tab
						id="tab3" aria-controls="tab3-content"
						ng-click="announceSelected(2)" style="font-size:12px;"> Search Results </md-tab> </md-tabs>
				</div>
				<ng-switch on="data.selectedIndex" style="height:100%;">

				<div role="tabpanel" id="tab2-content" aria-labelledby="tab2"
					ng-swi	ch-when="1" md-swipe-left="next()"
					md-swipe-right="previous()">
				<md-card ng-repeat="card in personalizedCards" md-theme-watch="true"
						style="background-color:white; margin:14px;"
						ng-click="showArticle($event, card)">
					<div>
						<p
							style="font-weight: 300; font-size: 24px; line-height: 0.5; padding-left: 15px;">{{card.title}}</p>
						<p style="font-weight: 300; font-size: 14px; padding-left: 15px;">
							{{card.content}}</p>
						<div>
							<ul style="padding: 0">
								<li ng-repeat="star in stars" style="color: #FFD700;"
									class="glyphicon"
									ng-class="{true: 'glyphicon-star-empty', false: 'glyphicon-star'}[star.empty]"
									ng-click="click(star.index)"></li>
							</ul>
						</div>
					</div>
					</md-card>
					
				</div>
				<div role="tabpanel" id="tab3-content" aria-labelledby="tab2"
					ng-switch-when="2" md-swipe-left="next()"
					md-swipe-right="previous()">

					<md-card ng-repeat="card in cards" md-theme-watch="true"
						style="background-color:white; margin:14px;"
						ng-click="showArticle($event, card)">
					<div>
						<p
							style="font-weight: 300; font-size: 24px; line-height: 0.5; padding-left: 15px;">{{card.title}}</p>
						<p style="font-weight: 300; font-size: 14px; padding-left: 15px;">
							{{card.snippet}}</p>
						<div>
							<ul style="padding: 0">
								<li ng-repeat="star in stars" style="color: #FFD700;"
									class="glyphicon"
									ng-class="{true: 'glyphicon-star-empty', false: 'glyphicon-star'}[star.empty]"
									ng-click="click(star.index)"></li>
							</ul>
						</div>
					</div>
					</md-card>
				</div>
				</ng-switch>

				<!-- 				<div class="after-tabs-area" layout="vertical"
					layout-sm="horizontal" layout-padding layout-align="left center">

					<md-text-float type="number" label="Selected Index"
						ng-model="data.selectedIndex"></md-text-float>
					<div flex></div>
					<span>Item Two: </span>
					<md-checkbox ng-model="data.secondLocked" aria-label="Disabled">
					Disabled </md-checkbox>

				</div> -->
			</div>
		</div>


		</md-content>
		<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			component_id="changeUserSideNav" md-theme="blue-grey"> <md-toolbar
			class="md-theme-light">
		<h1 class="md-toolbar-tools">CHOOSE USER</h1>
		</md-toolbar>
		<p style="padding-left: 15px;">
			<md-button ng-click="changeUser1 ()" class="md-primary">
			Aniket </md-button>
		</p>
		<p style="padding-left: 15px;">
			<md-button ng-click="changeUser1 ()" class="md-primary">
			Hari </md-button>
		</p>
		<p style="padding-left: 15px;">
			<md-button ng-click="changeUser1 ()" class="md-primary">
			PNandi </md-button>
		</p>
		<p style="padding-left: 15px;">
			<md-button ng-click="changeUser1 ()" class="md-primary">
			Kumar </md-button>
		</p>
		<p style="padding-left: 15px; padding-top: 100px;">
			<md-button ng-click="close ()" class="md-primary"> Close
			</md-button>
		</p>

		</md-sidenav>


		<md-sidenav id="userPreferencesSideNav"
			class="md-sidenav-right md-whiteframe-z2"
			component_id="userPreferencesSideNav" md-theme="blue-grey" >
		<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">UPDATE USER PREFERENCES</h1>
		</md-toolbar>
		<div ng-controller="PersonalisationController">

			<div ng-repeat="category in categories" layout>
				<div>
					<md-checkbox ng-model="categoryCheck" aria-label="categoryCheck"
						id="categoryCheckBox"> {{category}} </md-checkbox>
				</div>
				<div flex="20" layout layout-align="center center">
					<input type="number" ng-model="rating" aria-label="rating"
						aria-controls="rating-slider" min="0" max="10">
				</div>
				<md-slider md-theme="blue" flex ng-model="rating" min="0" max="10"
					aria-label="rating" id="rating-slider"> </md-slider>

			</div>

		</div>
		<p style="padding-top: 100px;">
			<md-button ng-click="closePreferences ()" class="md-primary">
			Close </md-button>
		</p>
	</div>

	</md-sidenav>
	</div>
	<script>
		
	</script>
</body>
</html>