<md-bottom-sheet class="md-list md-has-header" 
	style="height:100%; padding:0px;">
  <md-content>
  <md-toolbar md-theme="blue-grey">
    <div class="md-toolbar-tools">
      <span class="md-flex">{{card.title}}</span>
    </div>
  </md-toolbar>
	<p style="font-weight: 300; font-size: 12px; padding-left: 15px;">
		{{card.content}}
	</p>
	</md-content>
	<div class="md-actions" layout="row" style="padding:50px;">
    <md-button ng-click="answer('useful')" class="md-primary" md-theme="blue-grey">
      *
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary" md-theme="blue-grey">
      *
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary" md-theme="blue-grey">
      *
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary" md-theme="blue-grey">
      *
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary" md-theme="blue-grey">
      *
    </md-button>
    <span flex></span>
    <md-button ng-click="hide ()" class="md-primary" md-theme="blue-grey">
      HIDE
    </md-button>
  </div>
</md-bottom-sheet>