.tabsdemoStaticTabs {
	/*
 * Animation styles
 */
	
}

.tabsdemoStaticTabs #tab1-content {
	background-color: #EAEAEA;
	color: #444
}

.tabsdemoStaticTabs #tab2-content {
	background-color: #EAEAEA;
	color: #444
}

.tabsdemoStaticTabs #tab3-content {
	background-color: #EAEAEA;
	color: #444
}

.tabsdemoStaticTabs .tabpanel-container {
	display: block;
	position: relative;
	background: white;
	border: 0px solid black;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.tabsdemoStaticTabs [role="tabpanel"] {
	color: white;
	height: 100%;
	width: 100%;
	-webkit-transition: all ease-in-out;
	transition: all ease-in-out;
	position: absolute;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active,
	.tabsdemoStaticTabs [role="tabpanel"].ng-enter {
	opacity: 1;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active
	{
	top: 0;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave {
	opacity: 0;
}

.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
	padding: 20px;
}

.tabsdemoStaticTabs .after-tabs-area {
	padding: 25px;
}

.tabsdemoStaticTabs .after-tabs-area>span {
	margin-top: 25px;
	padding-right: 15px;
	vertical-align: middle;
	line-height: 30px;
	height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area>md-checkbox {
	margin-top: 26px;
	margin-left: 0px;
}

#userPreferencesSideNav {
	width : 40%;
}


/* taken from bootstrap */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul>li{
	list-style:none;
}

/* Generic classes */
.hide { /* Hide stuff without resorting to display:none; */
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.hide:after { /* Hide stuff without resorting to display:none; */
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.main{
  display: inline-block;
  padding: 2em;
  width: 30em;
  margin-bottom: 5em;
}

header{
  width: 100%;
  height: 6em;
  padding: 0.7em 1em 0.5em 2em;
  color: #eee;
  background-color: #333;
}
.description{
  text-align: left;
}

.thin{
  font-weight: 100;
}